#red,
#green,
#blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#swatch {
    width: 200px;
    height: 115px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}

.ui-button:focus,
.btnActive {
    background-color: #357fff;
    color: white;
}

.button-block {
    margin-top: 17px;
    border: 1px solid black;
    padding-left: 13px;
    padding-bottom: 14px;
}

.button-block p {
    margin: -9px 0 6px 1px;
    background-color: white;
    width: 47px;
}
